* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 10em;
    height: 13em;
}

header {
    padding: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    background-color: darkcyan;
}

.container{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}
.shoe {
    width: 15em;
    display: inline-block;
    border-radius: 1rem;
    margin: 2% auto;
    font-size: 0.8rem;
    text-align: center;
    background-color: rgb(226, 168, 147);
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.center {
    display: block;
    width: fit-content;
    margin:  0 auto;
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bolder;
    color: #333447;
}

.outStock {
    color: crimson;
}

.out-stock {
    margin: 3%;
    padding: 1em;
    text-align: center;
    background-color: rgb(245, 217, 217);
    border-radius: 1em;
    color: #333447;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.out-stock-title {
    display: block;
    width: fit-content;
    margin: 1em auto;
    padding-bottom: 1em;
    border-bottom: solid 0.1rem rgb(245, 171, 195);
}

input, select {
    padding: 0.2em;
    border: solid 0.1em cadetblue;
    border-radius: 0.4em;
    outline-color: cadetblue;
}


.stock-list {
    min-height: 15em;
}

fieldset {
    border: none;
    background-color: rgb(185, 240, 168); 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.6rem;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    width: 100%;
}

.new {
    display: grid;
    grid-auto-flow: row;
}

label, select, input {
    display: block;
}

legend {
    color: black;
    font-weight: bolder;
}

label {
    font-weight: bold;
    color: #333447;
}

.the-brand {
    width: fit-content;
    display: block;
    
}

.the-link {
    display: block;
    width: fit-content; 
}


select {
    width: fit-content;
}

.stock,.tag, .price, .link {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.stock-remove {
    display: inline-block;
    padding: 0.5em 0.9em;
    margin: 0 auto;
    border:#333447;
    border-radius: 0.3em;
    background-color: rgb(93, 139, 184);
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.stock-remove:hover {
    color: whitesmoke;
    background-color: seagreen;
    border: none;
    transition: 300ms;
}

.stock-upp {
    display: block;
    margin: 0 auto;
    width: 5em;
}

.the-stock-up {
    padding: 0.5em 1em;
    padding-bottom: 0.5em;
    border-radius: 0.4em;
    background-color: rgb(230, 157, 157);
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.preview {
    display: inline-block;
    padding: 0.5em;
    margin: 0 auto;
    border: tomato;
    border-radius: 0.3em;
    background-color: tomato;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}

.remove {
    display: inline-block;
    padding: 0.5em;
    margin: 0 auto;
    border: tomato;
    border-radius: 0.3em;
    background-color: tomato;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer; 
}

.preview:hover {
    color: whitesmoke;
    background-color: teal;
    border: none;
    transition: 300ms;
}

.remove:hover {
    color: whitesmoke;
    background-color: teal;
    border: none;
    transition: 300ms;
}

.display-preview {
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    background-color: rgb(185, 240, 168);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.add {
    display: inline-block;
    padding: 0.5em;
    margin: 0 auto;
    border: teal;
    border-radius: 0.3em;
    color: whitesmoke;
    font-weight: bold;
    background-color: teal;
    cursor: pointer;
}

.catalogue {
    display: inline-block;
    padding: 0.5em;
    margin: 0 auto;
    border: teal;
    border-radius: 0.3em;
    color: whitesmoke;
    font-weight: bold;
    background-color: teal;
    cursor: pointer;
}

.add:hover, .catalogue:hover  {
    background-color: dodgerblue;
    color: whitesmoke;
    transition: 300ms;
}

.buttons {
    width: fit-content;
    margin: 0 auto
}

.gap {
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.new-shoe-sect {
    width: 20em;
}

.crimson {
    color: crimson;
}

.new-add {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategrey;
    width: fit-content;
    padding-bottom: 1em;
    margin: 0 auto;
    border-bottom: solid 0.1em darkturquoise;
}

.sneaker-preview {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategrey;
    width: fit-content;
    padding-bottom: 1em;
    margin: 0 auto;
    border-bottom: solid 0.1em darkturquoise;
}

.no-stock {
    display: block;
    width: fit-content;
    color: darkslategrey;
    border-radius: 0.3em;
    background-color: rgb(226, 154, 154);
    margin: 0 auto;
    padding: 0.8em;
    text-align: center;
}

.mess {
    height: 2.8rem;
}

.display {
    display: none;
}

.addError {
    display: block;
    height: 1.3rem;
    text-align: center;
    color: crimson;
}

.centering {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    fieldset {
        width: 100%;
    }

    .display-preview {
        width: 100%;
        margin-right: auto;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    img {
        width: 12em;
        height: 15em;
    }

    header {
        font-size: 1.5rem;
    }

    fieldset {
        width: fit-content;
    }

    h5 {
        font-size: 0.9rem;
    }

    input, select {
        font-size: 1rem;
    }

    .new {
        display: grid;
        grid-auto-flow: column;
    }

    .new-stock {
        margin-left: auto;
        margin-right: 3%;
    }

    .new-sect {
        width: 80%;
    }

    .shoe {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 60em) { /* 960px */
    header {
        font-size: 1.7rem;
    }

    h5 {
        font-size: 1.3rem;
    }

    legend {
        font-size: 1.2rem
  
    }

    label {
        font-size: 1.1rem;
    }

    input, select {
        font-size: 1.1rem;
    }

    button {
        font-size: 1rem;
    }

    .add,.catalogue {
        padding: 0.7em;
    }
}