@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: lightgray;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

select {
  border: solid 0.1em cadetblue;
  border-radius: 0.4em;
  outline-color: cadetblue;
}

.nav {
  background-color:#333447;
  background-repeat: no-repeat;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.theTitle {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

.theTotal {
  display: inline-block;
}

.theTable {
  border-top: solid 0.1rem blue;
  margin-top: 2em;
}

.check-out {
  cursor: pointer;
  background-color: dodgerblue;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  padding: 0.5em;
  border-radius: 0.2em;
}

li {
  list-style: none;
}

.theBag {
  float: right;
  padding-right: 2%;
  position: relative;
}

.bag {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 2%;
  position: relative;
}

.fa-shopping-bag:hover {
  color: seagreen;
}

.fa-times:hover {
  color: crimson;
}

.bag-content img{
  width: 5em;
  height: 5em;
}

.bag-content div {
  display: inline-block;
  margin: 0.5em;
  
}

.bag-content {
  min-height: 5rem;
}

.bag-content button {
  cursor: pointer;
  background-color: coral;
  font-weight: bold;
  color: whitesmoke;
  border: none;
  padding: 0.3em;
  border-radius: 0.2em;
  margin-left: 1em;
}

.bag-content button:hover {
  background-color: crimson;
}

.close {
  display: block;
  width: fit-content;
  margin-bottom: 1em;
}

.close:hover {
  cursor: pointer;
}

.side-bar {
  display: none;
  position: absolute;
  left: -24em;
  width: 23em;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1em;
  border-radius: 0.5rem;
}

table {
  float: right;
}

td {
  padding-top: 0.3em;
}

.check-out {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
} 

.tot {
  display: block;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}
.check-out:hover {
  background-color: seagreen;
  transition: 300ms;
}

label {
  display: inline-block;
  padding: 0.5em 0;
}

.filter {
  float: left;
  margin-left: 2%;
  text-align: left;
  padding-right: 2%;
  width: fit-content;
}

.theFilter {
  padding: 0 2em 1em 1.5em;
  line-height: 2.5em;
  border-right: solid 0.1rem blue;
}

.filter-title {
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.show {
  display: block;
}

.shoe {
  width: fit-content;
  display: inline-block;
  border-radius: 1rem;
  margin: 2%;
}

.addTo {
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: dodgerblue;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  padding: 0.5em;
  border-radius: 0.2em;
}

.addTo:hover {
  background-color: seagreen;
  transition: 300ms;
}

img {
  width: 12em;
  height: 15em;
}

.filtButton {
  display: block;
  margin-top: 10%;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: dodgerblue;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.filtButton:hover {
  background-color: seagreen;
  transition: 300ms;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }

  .bag-content {
    min-height: 10rem;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 95%;
    max-width: 60rem;
  }

  .bag {
    font-size: 1.5rem;
  }

  .hamburger {
    font-size: 1.5rem;
  }

  .filter-title {
    font-size: 1.3rem;
    padding-bottom: 3%;
  }

  .theFilter {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
  }

  .bag-content {
    min-height: 20rem;
  }
}
